<!DOCTYPE html>
<html>

<head>
  <title>{{sitename}} - {{title}}</title>
  <link rel="icon" href="img/o-logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
</head>

<body>
  {{>header}}
  <main>
    <!--Begin Game modal-->
    <div class="modal">
      <div class="modal-username">
        <div class="modal-title">
          <h1>{{title}}</h1>
        </div>
        <div class="modal-username-box">
          <div class="row">
            <label class="modal-msg" for="player1">Player 1</label>
          </div>
          <div class="row">
            <input type="text" placeholder="Enter Username" name="player1" class="player1" autofocus>
          </div>
          <div class="row">
            <label class="modal-msg" for="player2">Player 2 </label>
          </div>
          <div class="row">
            <input type="text" placeholder="Enter Username" name="player2" class="player2" autofocus>
          </div>
        </div>
        <button class="start-btn">Start</button>
        <div class="row">
          <li class="guide">
            <ul>Try to connect 4 coins faster than other player!</ul>
            <ul>Drop the coin to place it in the yellow spot.</ul>
            <ul>Win in three situations</ul>
          </li>
        </div>
        <div class="row">
          <img src="img/horizontal.png" class="horizontal">
          <img src="img/vertical.png" class="vertical">
          <img src="img/diagonal.png" class="diagonal">
        </div>
      </div>
      <div class="modal-type1">
        <div class="modal-title">
          <h1>{{title}}</h1>
        </div>
        <div class="modal-type1-box">
          <p class="type1-msg1"></p>
          <p class="type1-msg2"></p>
          <button class="play-again">Play Again</button>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="row">
        {{!-- <div class="offset-2"></div> --}}
        <div id="display-board" class="display-board-portrait">
          <div id="score" class="score-box">
            <div class="row">
              <h1>{{title}}</h1>
            </div>
            <div class="row">
              {{!-- <div class="offset-1"></div> --}}
              <div class="username1-port col-2">Player 1</div>
              <div class="username1-score-port col-1">0</div>
              <div class="time-left-port col-4">Time Left</div>
              <div class="username2-port col-2">Player 2</div>
              <div class="username2-score-port col-1">0</div>
              {{!-- <div class="offset-1"></div> --}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button class="new-game-btn-port">New Game</button>
            </div>
            <div class="col-4">
              <button class="pause-btn-port">Pause</button>
            </div>
            <div class="col-4">
              <button class="sound-btn-port">Sound: <span class="sound-onoff-port">OFF</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="display-board" class="display-board-landscape col-2">
          <div id="score" class="score-box">
            {{!-- <div class="offset-1"></div> --}}
            <div class="row">
              <div class="time-left-land col-12">Time Left</div>
            </div>
            <div class="row">
              <div class="username1-land col-6">Player 1</div>
              <div class="username1-score-land col-6">0</div>
            </div>
            <div class="row">
              <div class="username2-land col-6">Player 2</div>
              <div class="username2-score-land col-6">0</div>
            </div>
            {{!-- <div class="offset-1"></div> --}}
          </div>
          <button class="new-game-btn-land">New Game</button>
          <button class="pause-btn-land">Pause</button>
          <button class="sound-btn-land">Sound: <span class="sound-onoff-land">OFF</span></button>
        </div>
        {{!-- <div class="offset-2"></div> --}}
        <div id="gameboard" class="gameboard col-12">
          <div class="row">
            {{!-- <div class="offset-3"></div>
            <div class="col-6"> --}}
              <div class="on-hold-row">
                <div id="r0-c1" class="on-hold-blocks to-move"></div>
                <div id="r0-c2" class="on-hold-blocks to-move"></div>
                <div id="r0-c3" class="on-hold-blocks to-move"></div>
                <div id="r0-c4" class="on-hold-blocks to-move"></div>
                <div id="r0-c5" class="on-hold-blocks to-move"></div>
                <div id="r0-c6" class="on-hold-blocks to-move"></div>
                <div id="r0-c7" class="on-hold-blocks to-move"></div>
              </div>
            {{!-- </div>
            <div class="offset-3"></div> --}}
          </div>
          <div id="animation-row" class="animation-row">
            <div id="row1" class="row">
              <div id="r1-c1" class="blocks-for-row"></div>
              <div id="r1-c2" class="blocks-for-row"></div>
              <div id="r1-c3" class="blocks-for-row"></div>
              <div id="r1-c4" class="blocks-for-row"></div>
              <div id="r1-c5" class="blocks-for-row"></div>
              <div id="r1-c6" class="blocks-for-row"></div>
              <div id="r1-c7" class="blocks-for-row"></div>
            </div>
            <div id="row2" class="row">
              <div id="r2-c1" class="blocks-for-row"></div>
              <div id="r2-c2" class="blocks-for-row"></div>
              <div id="r2-c3" class="blocks-for-row"></div>
              <div id="r2-c4" class="blocks-for-row"></div>
              <div id="r2-c5" class="blocks-for-row"></div>
              <div id="r2-c6" class="blocks-for-row"></div>
              <div id="r2-c7" class="blocks-for-row"></div>
            </div>
            <div id="row3" class="row">
              <div id="r3-c1" class="blocks-for-row"></div>
              <div id="r3-c2" class="blocks-for-row"></div>
              <div id="r3-c3" class="blocks-for-row"></div>
              <div id="r3-c4" class="blocks-for-row"></div>
              <div id="r3-c5" class="blocks-for-row"></div>
              <div id="r3-c6" class="blocks-for-row"></div>
              <div id="r3-c7" class="blocks-for-row"></div>
            </div>
            <div id="row4" class="row">
              <div id="r4-c1" class="blocks-for-row"></div>
              <div id="r4-c2" class="blocks-for-row"></div>
              <div id="r4-c3" class="blocks-for-row"></div>
              <div id="r4-c4" class="blocks-for-row"></div>
              <div id="r4-c5" class="blocks-for-row"></div>
              <div id="r4-c6" class="blocks-for-row"></div>
              <div id="r4-c7" class="blocks-for-row"></div>
            </div>
            <div id="row5" class="row">
              <div id="r5-c1" class="blocks-for-row"></div>
              <div id="r5-c2" class="blocks-for-row"></div>
              <div id="r5-c3" class="blocks-for-row"></div>
              <div id="r5-c4" class="blocks-for-row"></div>
              <div id="r5-c5" class="blocks-for-row"></div>
              <div id="r5-c6" class="blocks-for-row"></div>
              <div id="r5-c7" class="blocks-for-row"></div>
            </div>
            <div id="row6" class="row">
              <div id="r6-c1" class="blocks-for-row"></div>
              <div id="r6-c2" class="blocks-for-row"></div>
              <div id="r6-c3" class="blocks-for-row"></div>
              <div id="r6-c4" class="blocks-for-row"></div>
              <div id="r6-c5" class="blocks-for-row"></div>
              <div id="r6-c6" class="blocks-for-row"></div>
              <div id="r6-c7" class="blocks-for-row"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{>footer}}
  <script src="js/app.js"></script>
</body>
</html>
